body{
    background-color: #FDEFD5;
}
.Forum-main {
    width: 90vw;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 10vh;
    background-color: #FDEFD5;
    justify-content: flex-end;

    .Forum-topics {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 1em;
        margin: auto;
        margin-left: 90px;

        div, button {
            width: 100%;
            height: 50px;
            border: 1px solid black;
            border-radius: 0;
            padding: 8px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            
        }

        button:focus {
            background-color: rgb(249, 223, 174);;
        }

        div {
            justify-content: center;
            font-size: 1.2rem;
            font-weight: bold;
        }

        button:hover {
            background-color: rgb(249, 242, 186);
        }

        .divNewTopic {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            height: 70px;
            padding: 0;
            box-sizing: border-box;
            border: none;

            input {
                width: 68%;
                height: 100%;
                padding: 8px;
                box-sizing: border-box;
                font-size: 1rem;
            }

            button {
                width: 30%;
                height: 100%;
                padding: 8px;
                box-sizing: border-box;
                background-color: rgb(249, 242, 186);
                border: 5px outset rgb(163, 158, 120);
            }

            button:hover {
                background-color: rgb(249, 223, 174);
                border: 5px outset rgb(124, 112, 90);
            }

            button:active {
                border: 5px inset rgb(124, 112, 90);
            }
        }
    }
    .Parchem{
        display: flex;
        padding-left: 150px;
        padding-right: 80px;
        border-top-width: 50px;
        padding-bottom: 50px;
        padding-top: 200px;
        margin-left: 20px;
        flex-wrap: wrap;
        background-image: url("/src/assets/parchem.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .Forum-conversation {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: center;
        // margin: auto;
        height: 480px;
        overflow-y: auto;
        

        .divNewComment{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 362px;
            padding-top: 0px;
            align-items: center;
          

            .textareaForum{
                height: 267px;
                margin-bottom: 30px;
                width: 80%;
                background-color: transparent;
                color: white;
                border: none;
                margin-left: 0px;
            }
            }

        }

        div {
            width: 100%;
            // border: 1px solid black;
            padding: 16px;
            box-sizing: border-box;

            p {
                text-align: left;
                height: 70%;

                span {
                    font-weight: bold;
                }
            }
        }
    }



@media (max-width: 910px) {
    .Forum-main {
        width: 90vw;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 10vh;
        background-color: #FDEFD5;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
    
        .Forum-topics {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-size: 1em;
            margin: auto;
            margin-left: auto;
            
        }
    
        .Forum-conversation {
            /* width: 100%; */
            /* display: flex; */
            /* flex-direction: column; */
            /* margin: auto; */
            /* height: 370px; */
            align-content: center;
            margin-top: 20px;
            margin-left: 0px;
            margin-right: 0px;
        }
    
    }



}