@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Kablammo&family=MedievalSharp&display=swap%27');

.pageHome {
    background-color: #FDEFD5;
}

.divFranceH{
 width : 100%;
 display:flex;
 justify-content: center;
}

.listeVilleH{
    font-family: 'MedievalSharp';
}

.ParisH{
    height: 18px;
    width: 18px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: relative;
    right: 300px;
    top: 220px;
    border-radius: 50px 50px 50px 50px;
}
.LilleH{
    height: 18px;
    width: 18px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: relative;
    right: 330px;
    top: 120px;
    border-radius: 50px 50px 50px 50px;
}
.MarseilleH {
    height: 18px;
    width: 18px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: relative;
    right: 230px;
    top: 460px;
    border-radius: 50px 50px 50px 50px;
}

.BrestH {
    height: 18px;
    width: 18px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: relative;
    right: 550px;
    top: 220px;
    border-radius: 50px 50px 50px 50px;
}
.FranceH{
    margin-left: 45px;
 height:auto;
 width:30%;
}
.containerH{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.divPastillesHome{
    margin-left: auto;
    margin-right: auto;
    width:60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px

}

.divPastillesH {
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.symptome-selected {
    border: 7px solid #ae4811a4;
}

.pastillesH {
    width: 120px;
    height: auto;
}
.SymptomesNameH {
    font-family: 'MedievalSharp';
    font-size: 13px;
}

.SelectionnerButtonH {
    height: 40px;
    width: 200px;
    margin-top: 40px;
    font-weight: bold;
    border: solid black 2px;
    background-color: #ae4911;
}

.divSelectionnerButtonH {
    display: flex;
    justify-content: center;
}
.PhraseH {
    font-family: 'MedievalSharp';
    font-size: 30px;
}