@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Kablammo&family=MedievalSharp&display=swap%27');

.pageHome {
    background-color: #FDEFD5;
}

.divFranceH{
 width : 40%;
 display:flex;
 justify-content: center;
 margin: auto;
 position:relative;
 
}
.explication2{
  width: 100%;
}

.listeVilleH{
    font-family: 'MedievalSharp';
}

.ParisH{
    height: 25px;
    width: 25px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: absolute;
    left: 48%;
    top: 40%;
    border-radius: 50px 50px 50px 50px;
    transition: transform 0.3s ease;
}
.ParisH:hover{
    transform: scale(1.2);
    background-color: rgb(236, 19, 19);
}
.LilleH{
    height: 25px;
    width: 25px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: absolute;
    right: 50%;
    top: 27%;
    border-radius: 50px 50px 50px 50px;
    transition: transform 0.3s ease;
}
.LilleH:hover{
    transform: scale(1.2);
    background-color: rgb(236, 19, 19);
}
.MarseilleH {
    height: 25px;
    width: 25px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: absolute;
    right:35% ;
    bottom:25% ;
    border-radius: 50px 50px 50px 50px;
    transition: transform 0.3s ease;
}

.MarseilleH:hover{
    transform: scale(1.2);
    background-color: rgb(236, 19, 19);
}

.BrestH {
    height: 25px;
    width: 25px;
    font-size: 100px;
    background-color: #ae4911;
    display: flex;
    position: absolute;
    left: 27%;
    top: 40%;
    border-radius: 50px 50px 50px 50px;
    transition: transform 0.3s ease;
}

.BrestH:hover{
    transform: scale(1.2);
    background-color: rgb(236, 19, 19);
}

.FranceH{
    margin-left: 45px;
 height:auto;
 width:100%;
}

// PASTILLES SYMPTOMES

.containerH{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.divPastillesHome{
    margin-left: auto;
    margin-right: auto;
    width:70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px

}

.divPastillesH {
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.symptome-selected {
    border: 7px solid #ae4811a4;
    
    border-radius: 50% 50%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 144px;

}

.pastillesH {
    width: 120px;
    height: auto;

    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: ‒5;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    transition: transform 0.3s ease;
}

.pastillesH:hover{
  transform: scale(1.2);
}

.SymptomesNameH {
    font-family: 'MedievalSharp';
    font-size: 13px;

    position: absolute;
    transform: translateY(550%);
}

.SelectionnerButtonH {
    margin-top: 90px;
    margin-bottom: 90px;
    min-width: 300px;
    min-height: 60px;
    font-family: 'MedievalSharp';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #FDEFD5;
    background: rgba(174, 73, 17);
    background: linear-gradient(90deg, rgb(197, 97, 43) 0%, rgba(174, 73, 17, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(174, 73, 17, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    z-index: 1; 
  }
  
  .SelectionnerButtonH::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(315px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid rgb(121, 46, 6);
    box-shadow: 0 0 60px rgba(121, 46, 6, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .SelectionnerButtonH:hover,
  .SelectionnerButtonH:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .SelectionnerButtonH:hover::before,
  button:focus::before {
    opacity: 1;
  }
  
  .SelectionnerButtonH::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(121, 46, 6);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .SelectionnerButtonH:hover::after,
  .SelectionnerButtonH:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

.divSelectionnerButtonH {
    // display: flex;
    // justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PhraseH {
    font-family: 'MedievalSharp';
    font-size: 30px;
}

.divButtonMedecinsH {
    display: flex;
    justify-content: center;
}

.divImageMedecinH {
    width: 100%;
}

.imageMedecinH {
    margin-left: 600px;
    display :flex;
    position:relative;
    justify-content: center;
}
.btnMed{
    width: 50%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}