.boxCalendar{
    max-width: 30vw;
    display : flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;

    .boxHour{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        margin:8px;

        img{
            width:70px;
            height: 70px;
            object-fit: contain;
        }

        .selected{
            background-color:rgb(38, 162, 189);
        }
    }
}