.container{
   background-image: url(/src/assets/Parchem_paysage.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;
   padding: 32px;
   border-radius: 20px;
   width: 70%;
   height: 80vh;
   display: flex;
   align-items: center;
   flex-direction: column;
       
       button {
          border: none;
          background-color: rgb(38, 162, 189);
          color: white;
          border-radius: 20px;
          height:30px;
       }
       
       .Medecins{
       margin:auto;  
       width: 500px;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 0px;
      margin-top: 0px;
       .box6{
          margin:32px 32px 32px 0px;
       }
 
       .photos{
          width:90px;
          
          img{
          width: 200%;
          border-radius:50%;
          }
          }
       }
 }
 